main{
    background-color: darkred;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    padding: 10px 10px;
}
.header{
text-align: center;
font-size: 60px;
}
.firstp{
    text-align: center;
    color: rgb(240, 232, 232);
}
figure img{
    width: 1000px;
    height: 600px;
}
figure{
    text-align: center;
    background-color: darkred;
    background-image: url(1.jpg);
    height: 650px;
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px 10px;

}
figcaption{
    padding-top: 10px;
}
.container{
    width: 600px;
    margin: 0 auto;
    background-color: darkred;
    text-align: justify;
    line-height: 30px;

}
.heading{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;  
    
}
footer{
    
    margin: 10px auto;
}
.heading2{
    text-align: center;
    font-size: 20px;
}
.lastp{
    font-size: 22px;
    text-align: center;
    color: rgb(241, 232, 232);
}