@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
body{
    
    background-color: darkred;
color: white;
text-align: center;
margin: 0;
font-family: 'Poppins', sans-serif;

}
h1{
    font-size: 70px;
    line-height: 3px;
}
.image{ background-image: url(1.jpg);
    height: 600px;
    background-color: darkred;
    background-blend-mode: overlay;
    
    align-items: center;
    border: 0;
    padding: 10px;
    margin: 0;
    
    
}
ul{
    text-align: left;
    

}
blockquote{
    text-align: left;
}